body {
    background-image: url(https://images.pexels.com/photos/1042423/pexels-photo-1042423.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    color: rgb(238, 236, 236);
}
h1{
    text-align: center;
    color: rgb(221, 35, 25);
}
h2{
    color: rgb(114, 226, 226);
}
h3{
    text-decoration: underline;
    color: chocolate;
}